---

---

<div class="z-10001 fixed inset-0 pointer-events-none overflow-hidden">
  <svg
    id="rainbow-appear-content"
    class="absolute bottom-[-70vh] min-h-[70vh] min-w-[100vw] left-1/2 -translate-x-1/2 opacity-0"
    viewBox="0 0 74 29"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_149_2)">
      <path
        d="M11.2829 9.54744C12.3773 8.59234 13.9034 8.30559 15.2699 8.79833L28.3619 13.5193C28.9058 13.7155 29.4797 13.8158 30.058 13.8158H45.0594C45.8931 13.8158 46.7201 13.6669 47.5014 13.376L60.7781 8.43398C61.492 8.16826 62.2948 8.33108 62.8487 8.85392L65.4224 11.2833C67.0556 12.8249 66.4781 15.5484 64.3598 16.2945L51.9675 20.6592C51.3271 20.8848 50.6532 21 49.9742 21H23.9684C23.3288 21 22.695 20.8773 22.1016 20.6384L9.02558 15.3756C7.64068 14.8182 7.3325 12.995 8.45726 12.0134L11.2829 9.54744Z"
        fill="url(#paint0_linear_149_2)"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_149_2"
        x="0.271973"
        y="0.80835"
        width="73.5923"
        height="27.6917"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="3.75"
          result="effect1_foregroundBlur_149_2"></feGaussianBlur>
      </filter>
      <linearGradient
        id="paint0_linear_149_2"
        x1="36.5"
        y1="9.5"
        x2="36.7387"
        y2="22.005"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#1780FF"></stop>
        <stop offset="0.673806" stop-color="#746900"></stop>
        <stop offset="1" stop-color="#F82500"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
