---
import { CONFIG } from "~/shared/model/config";
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";
---

<RootLayout title={`Sign Up | ${CONFIG.TITLE}`}>
  <div>
    <h1>Sign Up</h1>
  </div>
</RootLayout>
