@import "tailwindcss";

@plugin "tailwindcss-animate";

@import "./scrollbar.css";
@import "./themes.css";
@import "./fonts.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(0, 0%, 95%);
  --color-foreground: hsl(0, 0%, 0%);
  --color-default: hsl(0, 0%, 100%);
  --color-outline: hsl(0, 0%, 85%);

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --container-8xl: 114rem;
  --radius: 24px;
  --smooth: 0.85;
  --border-width: 1px;

  --animate-squircle-shadow: squircle-shadow 1s ease-in-out infinite;
}

@layer components {
  .pressable {
    @apply active:scale-98 transition-transform;
  }
}

@layer base {
  :root {
    ::selection {
      background: var(--color-foreground);
      color: var(--color-background);
      text-shadow: none;
    }

    ::-moz-selection {
      background: var(--color-foreground);
      color: var(--color-background);
      text-shadow: none;
    }
  }
}
