@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: oklch(0.95 0 0);
  --color-foreground: oklch(0.05 0 0);
  --color-default: oklch(1 0 0);
  --color-outline: oklch(0.87 0 0);

  --container-8xl: 114rem;
  --radius: 24px;
  --smooth: 0.85;

  --animate-squircle-shadow: squircle-shadow 1s ease-in-out infinite;
}

.dark {
  --color-background: oklch(0 0 0);
  --color-foreground: oklch(0.95 0 0);
  --color-default: oklch(0.2 0 0);
  --color-outline: oklch(0.25 0 0);
}

.squircle {
  --squircle-smooth: var(--smooth);
  --squircle-radius: var(--radius);
  mask-image: paint(squircle);
  border-radius: var(--radius);
}

.squircle-outline {
  --squircle-smooth: var(--smooth);
  --squircle-radius: var(--radius);
  --squircle-outline: 1px;
  --squircle-fill: var(--color-outline);
  background: paint(squircle);
  border-radius: var(--radius);
}

.squircle-shadow {
  --squircle-smooth: var(--smooth);
  --squircle-radius: var(--radius);
  --squircle-fill: var(--color-default);
  background: paint(squircle);
  border-radius: var(--radius);
  animation: squircle-shadow-fix 9999s linear infinite;
}

.dark .squircle-shadow {
  animation: none;
}

@keyframes squircle-shadow-fix {
  0% {
    filter: drop-shadow(0 4px 6px hsla(0, 0%, 0%, 0.1));
  }
  100% {
    filter: drop-shadow(0 4px 6px hsla(0, 0%, 0%, 0.1));
  }
}
