@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(0, 0%, 95%);
  --color-foreground: hsl(0, 0%, 0%);
  --color-default: hsl(0, 0%, 100%);
  --color-outline: hsl(0, 0%, 85%);

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --container-8xl: 114rem;
  --radius: 24px;
  --smooth: 0.85;
  --border-width: 1px;

  --animate-squircle-shadow: squircle-shadow 1s ease-in-out infinite;
}

.dark {
  --color-background: hsl(0, 0%, 0%);
  --color-foreground: hsl(0, 0%, 100%);
  --color-default: hsl(0, 0%, 80%);
  --color-outline: hsl(0, 0%, 75%);
}

.blue {
  --color-background: hsl(205.43, 100%, 93.85%);
  --color-foreground: hsl(203, 56%, 20%);
  --color-default: hsl(206, 50%, 77%);
  --color-outline: hsl(205, 61%, 81%);
}

.green {
  --color-background: hsl(124, 87%, 94%);
  --color-foreground: hsl(124, 57%, 20%);
  --color-default: hsl(127, 50%, 77%);
  --color-outline: hsl(126, 61%, 81%);
}

@layer components {
  .pressable {
    @apply active:scale-98 transition-transform;
  }
}
