---
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout title={`Edit ${username}`}>
  <div>
    <h1>Edit {username}</h1>
  </div>
</RootLayout>
