---
import { Profile } from "~/services/edit-profile/ui/profile";
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout
  title={`Edit ${username}`}
  className="overflow-x-hidden overflow-y-scroll open-runde"
>
  <main
    class="max-w-8xl mx-auto flex flex-col lg:flex-row gap-6 lg:px-20 lg:gap-20 py-10 lg:py-20"
  >
    <Profile client:only />
  </main>
</RootLayout>
