---
import Avatar from "~/shared/ui/kit/Avatar.astro";
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout title={`Edit ${username}`}>
  <main
    class="max-w-8xl mx-auto flex flex-col lg:flex-row gap-6 px-4 lg:px-8 py-10 lg:py-20"
  >
    <header
      class="flex gap-4 flex-col items-start max-lg:max-w-107 max-lg:mx-auto lg:sticky lg:top-20 lg:h-fit lg:max-w-120 w-full"
      role="banner"
    >
      <Avatar
        src="https://avatars.githubusercontent.com/u/125604210?v=4"
        alt="Mikhail Mogilnikov"
        className="size-46"
        blur={true}
        blurClassName="lg:top-38 lg:left-20 lg:scale-x-210 lg:scale-y-170"
      />
      <h1 class="text-4xl font-bold px-2 mt-4 z-1">Mikhail Mogilnikov</h1>
      <p class="text-lg text-muted-foreground px-2 z-1">
        Software & Design Engineer
      </p>
    </header>

    <section
      class="grid grid-cols-2 gap-5 max-w-107 mx-auto w-full"
      aria-label="Портфолио и проекты"
    >
      <article
        class="col-span-2 squircle-outline aspect-[2/1]"
        aria-label="Основной проект"
      >
        <!-- Здесь должен быть контент основного проекта -->
      </article>

      <article class="squircle-outline aspect-square p-4">
        <h2 class="text-2xl font-bold" id="about">О себе</h2>
        <!-- Добавить описание -->
      </article>

      <article
        class="squircle-shadow aspect-square p-4 pressable"
        aria-label="Интерактивная карточка"
      >
        <h2 class="text-2xl font-bold">Навыки</h2>
        <!-- Добавить список навыков -->
      </article>

      <article
        class="squircle-outline pressable col-span-2 row-span-2 aspect-square"
        aria-label="Большой проект"
      >
        <h2 class="sr-only">Главный проект</h2>
        <!-- Контент большого проекта -->
      </article>

      <article class="squircle-shadow aspect-[1/2] row-span-2 p-4">
        <h2 class="text-xl font-bold">Опыт</h2>
        <!-- Временная шкала опыта -->
      </article>

      <article class="squircle bg-default aspect-square p-4">
        <h2 class="text-xl font-bold">Контакты</h2>
        <!-- Контактная информация -->
      </article>

      <article class="squircle-outline row-span-2 aspect-[1/2] p-4">
        <h2 class="text-xl font-bold">Блог</h2>
        <!-- Последние посты блога -->
      </article>

      <article class="squircle-shadow aspect-square p-4">
        <h2 class="text-xl font-bold">Достижения</h2>
        <!-- Награды и сертификаты -->
      </article>
    </section>
  </main>
</RootLayout>
