---
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout title={username || ""}>
  <div class="max-w-8xl mx-auto flex flex-col gap-6 p-4 flex-wrap">
    <div class="w-full h-40 squircle-shadow"></div>
    <div class="grid grid-cols-2 gap-5 h-40 max-w-[428px]">
      <div class="squircle-outline aspect-square"></div>
      <div class="squircle-shadow aspect-square"></div>
    </div>
  </div>
</RootLayout>
