---
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout title={username || ""}>
  <div class="max-w-8xl mx-auto flex gap-4 p-4">
    <div class="size-30 squircle rounded bg-default"></div>
    <div class="size-30 squircle-outline bg-white"></div>
    <div class="size-30 squircle-shadow bg-white"></div>
  </div>
</RootLayout>
