---
import Avatar from "~/shared/ui/kit/Avatar.astro";
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
const { username } = Astro.params;
---

<RootLayout title={username || ""}>
  <div
    class="max-w-8xl mx-auto flex flex-col lg:flex-row gap-6 px-4 lg:px-8 py-10 lg:py-20"
  >
    <div
      class="flex gap-4 flex-col items-start max-lg:max-w-107 max-lg:mx-auto lg:sticky lg:top-20 lg:h-fit lg:max-w-120 w-full"
    >
      <Avatar
        src="https://avatars.githubusercontent.com/u/125604210?v=4"
        alt="Mikhail Mogilnikov"
        className="size-46"
        blur
        blurClassName="lg:top-32 lg:left-20 lg:scale-x-350 lg:scale-y-300"
      />
      <h1 class="text-4xl font-bold px-2 mt-4 z-1">Mikhail Mogilnikov</h1>
      <p class="text-lg text-muted-foreground px-2 z-1">
        Software & Design Engineer
      </p>
    </div>
    <div class="grid grid-cols-2 gap-5 max-w-107 mx-auto w-full">
      <div class="col-span-2 squircle-outline aspect-[2/1]"></div>

      <div class="squircle-outline aspect-square p-4">
        <p class="text-2xl font-bold">Hello</p>
      </div>
      <div class="squircle-shadow aspect-square p-4 pressable">
        <p class="text-2xl font-bold">Hello</p>
      </div>
      <div
        class="squircle-outline pressable col-span-2 row-span-2 aspect-square"
      >
      </div>
      <div class="squircle-shadow aspect-[1/2] row-span-2 p-4"></div>
      <div class="squircle bg-default aspect-square p-4"></div>
      <div class="squircle-outline row-span-2 aspect-[1/2] p-4"></div>
      <div class="squircle-shadow aspect-square p-4"></div>
    </div>
  </div>
</RootLayout>
